# created by virtualenv automatically
.idea
Lib/
venv/
Scripts/
.idea/
DjangoLearn/.env
pyvenv.cfg
db.sqlite3
**/migrations/
**/__pycache__/
DjangoLearn/__pycache__/settings.cpython-311.pyc
DjangoLearn/__pycache__/urls.cpython-311.pyc


