{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titile %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bboard/style.css' %}">
</head>
<body>
    <header><h1>{% block header %}{% endblock %}</h1></header>

    <nav>
        <a href="{% url 'index' %}">Главная</a>
        <a href="{% url 'add' %}">Добавить</a>
        <div class="dropdown">
        <div class="dropdown-toggle">Категория</div>
            <div class="sub-menu">
                {% for rubric in rubrics %}
                    <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
                {% endfor %}
            </div>
        </div>
    </nav>

    <section>
        {% block content%}
        {% endblock %}
    </section>


</body>
</html>